*{margin:0;padding:0;}
.cl{clear: both;}
.autotoolkit{max-width: 100%;height: auto;vertical-align: middle;}
a,img{border:none;text-decoration: none;}
.autoimg{max-width: 100%;height: auto;display: block;}
ul{list-style: none;}
body{font-family: "微软雅黑";background: #fff url() no-repeat center 0;font:normal 12px/2 Arial,SimSun;color: #521c02;}
.fl{float: left;}
.fr{float: right;}
.syxy{width: 100%;min-width: 1000px;}
.sy{width: 1000px;margin:0 auto;-moz-box-sizing:border-box;box-sizing:border-box;}
.sya{ position:relative;}
.backgz{position:absolute; display:block; width:10%; bottom:10%; left:2.5%;}
.syb{overflow: hidden; }
.syb a{height: 64px;overflow: hidden;display: block;width: 25%;float: left;box-sizing:border-box;-moz-box-sizing:border-box;color: #fff;font-size: 20px;line-height: 64px;background: #95b0d8;text-align: center;font-family: "微软雅黑";border-right: 1px dashed rgba(255,255,255,.2)}
.syb a.none{border:none;}
.text{width: 132px;border-right: 1px dashed rgba(21,179,204,.19);}
.text h3{font-size: 16px;line-height: 80px;color: #f0f0f0;text-align: center;}
.hehe{width: 1000px; overflow: hidden;margin: 25px auto;}
.syxy .link{width: 415px;overflow: hidden;position: relative;height: 40px;right:0;bottom:0;}
.syxy .link .input1{position: absolute;top:0;left:0;width: 314px;height: 100%;background: #fff;padding:0 ;border:none;padding-left: 21px;box-sizing:border-box;-moz-box-sizing:border-box;font-size: 12px;color: #000;background: #ffffff;}
.syxy .link .input2{position: absolute;top:0;right:0;width: 91px;height: 100%;background: #fff;padding:0 ;border:none;font-size: 12px;color: #fff;text-align: center;background: #355380;line-height: 40px;}
.hehe h3{color: #0f2435;font-size: 20px;line-height: 40px; font-weight:normal; margin-bottom:10px;}
.xy-nav{position:relative;}
input{border:0;padding:0;background: none;}
.moble{display: none;}
.answer{width: 100%;min-width: 740px;background: url() repeat top center #fff;margin:0 auto;padding-top: 10px;}
.answ{width: 930px;margin:0 auto;}
.ans1{width: 20%;margin:0 auto;display: block;height:349px;}
.ans1>a{width: 225px;margin:0 auto;height: 130px;display: block;}
.ans2{overflow: hidden;margin-bottom: 20px;background-size: 100% 100%;}
.soso{margin:7.5px 0 7.5px 10px;width: 349px;height: 50px;position: relative;border-right: 0;}
.soso:before{content:"";position: absolute;top:0;left:5px;background: url() no-repeat center center;width: 24px;height: 50px;}
.input1{width: 75%;height: 100%;border:1px solid #355380;font-size: 14px;color: #355380;padding-left: 30px;box-sizing:border-box;-moz-box-sizing:border-box;outline: none;font-family: "微软雅黑";}
.input2{position: absolute;top:0px;right:0px;width: 80px;height: 50px;text-align: center;font-size: 16px;font-weight: bold;background: #355380;border-left: 1px solid #95b0d8;cursor: pointer;outline: none;font-family: "微软雅黑";color: #fff;font-weight: normal;}
.area{width: 200px;overflow: hidden;margin-left: 16px;}
.area a{display:block;width: 50%;line-height:55px;font-size: 14px;color: #eed99d;padding-left:13px;box-sizing:border-box;-moz-box-sizing:border-box;}
.area a.area1{padding-left: 0;}
.area a:hover{color: #ffcc00;background: url(../images/gimg.png) no-repeat bottom center;background-size: 100% 100%; }
.ans3 table td{text-align:left;font-family: "Microsoft YaHei";font-size: 14px;line-height: 50px;padding:0 10px;color: #454545;vertical-align: middle;clear: both;background: #dde9f2;}
.ans3 table td.title1{line-height: 50px;font-size: 20px;text-align: center;color: #fff;background: #355380;border:none;}
.ans3 table td.tt{background: #355380;border:none;}
.ans3{padding-bottom: 30px;}
.answer table:last-child tr:nth-of-type(2n+0) td{background: #95b0d8;}
.ans4{overflow: hidden;padding-bottom: 29px;}
.ans4 span{font-size: 14px;line-height: 28px;color: #97622a;margin-left: 10px;}
.ans4 input{font-size: 14px;display: inline-block;border:1px solid #cba965;width: 331px;border-radius:3px;color: #97622a;font-family: "微软雅黑";height: 28px;padding-left: 8px;}
.ans4 a{display: inline-block;width: 230px;line-height: 28px;text-align: center;font-size: 14px;color: #fff;background: #cba965;border-radius:3px;}
.ans5{padding-bottom: 174px;}
.pcblock{display: block;}
.answer table:last-child tr td{line-height: 40px;height: 40px;}
.ans3 table tr td:nth-child(2){border-left: 1px solid #d9d9f2;}
:root{overflow-y:scroll;}
.clearfix{ zoom:1; overflow:hidden;}
.header,.content{ width:930px; margin:0 auto; position:relative; }
.header img{ display:block; border:none;}
.headwrap{ height:63px; width:100% ; background:url(../images/bg_head.jpg) center top no-repeat;}
.awrap a{ display:inline-block; width:126px; height:63px; text-align:center; font:14px/63px 'Microsoft Yahei'; position:absolute; color:#fff;}
.awrap a.hover{ background:url(../images/headhover.jpg) no-repeat;}
.a_logo { position:absolute; left:50%; margin-left:-86px; top:-42px;}
a.a_back{ left:0;}
a.imitator{ left:126px;}
a.question{ right:0;}
a.skill{ right:126px;;}
a.a_join{ display:inline-block; width:171px; height:43px; background:url(../images/btn_join.jpg) no-repeat; text-align:center; margin-top:48px; font:16px/43px 'Microsoft Yahei'; color:#6c3911; margin-left:534px;}
.conwrap{ position:relative; margin:0 auto;}
.page{width:100%;background:url() repeat center center; }
.conwrap .tit{ position:absolute; left:260px; font: normal 20px/35px 'Microsoft Yahei'; color:#63330d;}
strong.red{ color:#fff; font-weight:normal;}
strong.blue{ color:#fff; font-weight:normal;}
.addp{ color:#9e8055; margin:50px 0 0 45px;}
.tabcon{ display:none; *margin-top:67px;}
.tabcon.hover{ display:block;}
tr.eve{ background:#ebe0ce;}
tr.odd{ background:#dfc39c;}
.th td{ background:#e7841c;}
td.first{ text-align:left!important; position:relative;}
.first span.title{ margin-left:30px;color: #454545;}
.cheakblock>div{display: none;}
.cheakblock>div.cur{display: block;}
.a_accumate{ display:block; width:300px; height:50px; margin:30px auto 61px; background:#d67c1b;font-size: 20px;line-height: 50px;color: #fff;text-align: center;}
a.a_minus:hover{ background-color:#333333}
a.a_add:hover{ background-color:#333333}
a.a_add10:hover{ background-color:#333333;}
.left{display: none;}
.right{display: none;}
#wrapAll{display: none !important;}
@media screen and (max-width: 640px){
	.header,.content{width: 100%;padding: 10px;box-sizing:border-box; -moz-box-sizing:border-box;}
	.conwrap .tit{left:36.1111%;}
	.inputwrap1{margin-top:20px ;height: auto;float: none;}
	.inputwrap1 .p1{display: block;margin:0 auto;margin-bottom: 10px;margin-right: 20px;}
	.inputwrap1 p{display: block;margin-bottom: 10px;margin-right: 20px;}
	.a_sure{left:216px;top:0;margin-left: -35px;}
	.tabthwr{width: 100%;margin:0 auto;overflow: visible;float: none;}
	.tabth li{display: inline-block;float: none;}
	.tabth{border:none;}
	.conwrap{width: 100%;background:none;height: auto;}
	table.property{width: 100%;margin:0 auto;display: block;}
	table.property tbody{width: 100%;margin:0 auto;display: block;overflow: hidden;}
	table.property tr{display: block;overflow: hidden;}
	table.property td:first-child{display: block;float: left;width: 70%;box-sizing:border-box; -moz-box-sizing:border-box;}
	table.property td:last-child{display: block;float: right;width: 30%;box-sizing:border-box; -moz-box-sizing:border-box;}
	table .td1 strong{width: 100%;}
	.p_result{width: 100%;height: auto;}
	.p_result .level{margin-left:25px !important;}
	.p_result p{margin-left: 25px;}
	.p_result p span{width: 105px;}
	#main{padding:0;}
	.syxy{min-width: 0;}
	.a_accumate{margin:10px auto 10px;}
	.sy{width: 100%;}
	.ca{background: #532704;}
	.text{overflow: hidden;float: none;width: 100%;border:none;border-bottom: 1px dashed rgba(21,179,204,.19);}
	.data1 label.none{display: block;}
	.data1 label span{line-height: 40px;}
	.data1{width: 100%;float: none;overflow: hidden;padding:10px ;box-sizing:border-box;-moz-box-sizing:border-box;background: #371e08;}
    .ca .text h3{font-size: 16px;line-height:30px;padding-top: 15px;}
	.cc .text h3{font-size: 16px;line-height:30px;padding-top: 15px;}
    .cb .text h3{font-size: 16px;line-height:30px;padding-top: 15px;}
	.cd .text{padding:20px 0;}
	.cb .text{padding:20px 0;}
	.ca .text{padding:20px 0;}
	.cb{background: #532704;}
	.cc{background: #532704;}
	.cd{background: #532704;}
	.cd .data1{padding:20px 10px;}
	.cc .data1{padding:20px 10px;}
	.cd .divblock1{display: block;top:0;margin-bottom: 10px;}
	.cd .data1 b>span{top:0;}
	.cd .data1 .divblock label.none2 span{top:-74px;}
	.hehe{width: 100%;padding:0 10px;box-sizing:border-box;-moz-box-sizing:border-box;margin-top: 10px;}
	.syxy .link{width: 75%;margin: 0 auto;margin-bottom: 10px;}
	.hel{float: none;overflow: hidden;}
	.sya{padding:0;}
	.syb a{font-size: 14px;line-height: 40px;height: 40px;}
	.syb a.cur{font-size: 16px;}
	.hehe h3{font-size: 14px; font-weight:normal; line-height:40px; margin-bottom:10px; text-align:center;}
	.cb .data1 label.none{display: inline-block;}
	.cb .data1 label.none1{display:block;}
	.syxy .link .input1{width: 100%;}
	.pcblock{display: none;}
	.answer{min-width: 0;width: 100%;}
	.answ{width: 100%;padding:0 10px;box-sizing:border-box;-moz-box-sizing:border-box;}
	.moble{display: block;}
	.ans1{height: auto;padding:0;}
	.ans2{padding:0;}
	.ans1>a{display: none;}
	.soso{width: 65%;box-sizing:border-box;-moz-box-sizing:border-box;}
	.area{width: 28%;margin-left:2.5%;box-sizing:border-box;-moz-box-sizing:border-box;}
	.input2{width: 28.6868%;}
	.area a{display: block;height: 36px;overflow: hidden;line-height: 36px;margin-top: 9.5px;padding-left: 6.5%;}
	.area a.area1{padding-left: 0;}
	.ans2{padding-bottom: 0;margin-bottom: 10px;}
	.ans3 table tr{width: 100%;height: auto;}
	.answer table:last-child tr{height: auto;}
	.ans3 table tr td:nth-child(1){height: auto;}
	.ans3 table tr td:nth-child(2){height: auto;}
	.answer table:last-child tr td{line-height: 32px;}
	.ans3 table td{line-height: 22px;padding-top: 8px;padding-bottom: 8px;}
    .ans3 table td.title1{line-height: 34px;height: 34px !important;padding-top:0 !important;padding-bottom: 0 !important;}
    .ans4 span{width: 100%;float: none;overflow: hidden;margin:0 auto;}
    .ans4>div{width: 100%;float: none;overflow: hidden;margin:0 auto;}
    .ans4 a{width:25%; }
    .ans3{padding-bottom: 10px;}
    .ans4{padding-bottom: 10px;}
    .ans5{padding-bottom: 0px;}
    .foot{min-width: 0;}
    .foot .footer{width: 100%;padding:20px 0;}
    .footer>div>a{float: none;overflow: hidden;width: 100px;margin:0 auto;display: block;}
    .footer>div>a.pcblock{display: none;}
    .footer>div p{text-align: center;}
    .ans4 input{width: 60%;}
    #entry-share b{margin-left: 0 !important;}
    .four{padding: 10px 10px;padding-top: 15px;width: 100%;box-sizing:border-box;-moz-box-sizing:border-box;height: auto;}
    .four h3{font-size: 12px;line-height: 16px;margin-bottom: 15px;}
    .four p{font-size: 12px;line-height: 16px;margin-bottom: 15px;}
    .four p span{font-size: 12px;line-height: 16px;}
    .p_result{margin:0 auto 10px;}
}
@media screen and (max-width: 550px){
    .inputwrap1{width: 100%;}
}
@media screen and (max-width: 480px){
	.ans2{background: none;}
	.soso{width: 100%;float: none;overflow: hidden;margin:7.5px 0;}
	.area{width: 100%;overflow: hidden;float: none;margin-left: 0;}
	.area a{background: url(../images/xian.jpg) repeat-x top center;text-align: center;margin-top: 0;}
	.area a:hover{background: url(../images/xian.jpg) repeat-x top center;}
	.ans2{padding:0 10px;box-sizing:border-box;-moz-box-sizing:border-box;}
	.ans4 input{width: 69%;}
	.conwrap .tit{position: relative;left:0;display: block;width: 100%;top:0;text-align: center;}
}
@media screen and (max-width:462px){
	.divblock{display: block;}
	.cc .data1 b>span{top:5px;}
	.cc .data1 .sele{top:0;}
	.data1 label.none input{width:75%;}
	.data1 label.none1 input{width: 65%;}
	.syxy .link .input2{width: 60px;}
	.first span.title{margin-left: 15px;}
	.tabthwr{float: none;}
	.tabth{float: none;}
	.span_t{float: none;}
	.inputwrap1{float: none;margin-top: 49px;}
	.a_sure{left: 216px;}
	.inputwrap1 .p1{float: none;width: 100%;}
	.inputwrap1{height: 90px;}

}
@media screen and (max-width:425px){
	.inputwrap1{float: none;margin-top: 80px;}
	.btnwrap{right:33%;}
	.syb a{width: 50%;border-bottom: 1px solid rgba(255, 255, 255, 0.2) ;border-right: 1px solid rgba(255, 255, 255, 0.2);}
	.syb a.none{border-bottom: 1px solid  rgba(255, 255, 255, 0.2);border-right: 1px solid rgba(255, 255, 255, 0.2);}
}
@media screen and (max-width:340px){
.first span.title{margin-left: 5px;}
.inputwrap1{margin-top: 94px;}
.tabth{border-bottom: 1px solid #2b73ab;}
.inputwrap1 .p1{border-bottom: 1px solid #2b73ab;padding-bottom: 10px;}
table.property{margin-top: 12px;}
.p_result{padding-bottom: 10px;}
}
@media screen and (max-width: 1224px) and (orientation:landscape)  { 
	.header,.content{width: 100%;padding: 10px;box-sizing:border-box; -moz-box-sizing:border-box;}
	.conwrap .tit{left:36.1111%;}
	.inputwrap1{margin-top:20px ;height: auto;float: none;}
	.inputwrap1 .p1{display: block;margin:0 auto;margin-bottom: 10px;margin-right: 20px;}
	.inputwrap1 p{display: block;margin-bottom: 10px;margin-right: 20px;}
	.a_sure{left:216px;top:0;margin-left: -35px;}
	.tabthwr{width: 100%;margin:0 auto;overflow: visible;float: none;}
	.tabth li{display: inline-block;float: none;}
	.tabth{border:none;}
	.conwrap{width: 100%;background:none;height: auto;}
	table.property{width: 100%;margin:0 auto;display: block;}
	table.property tbody{width: 100%;margin:0 auto;display: block;overflow: hidden;}
	table.property tr{display: block;overflow: hidden;}
	table.property td:first-child{display: block;float: left;width: 70%;box-sizing:border-box; -moz-box-sizing:border-box;}
	table.property td:last-child{display: block;float: right;width: 30%;box-sizing:border-box; -moz-box-sizing:border-box;}
	table .td1 strong{width: 100%;}
	.p_result{width: 100%;height: auto;}
	.p_result .level{margin-left:25px !important;}
	.p_result p{margin-left: 25px;}
	.p_result p span{width: 105px;}
	#main{padding:0;}
	.syxy{min-width: 0;}
	.a_accumate{margin:10px auto 10px;}
	.sy{width: 100%;}
	.ca{background: #532704;}
	.text{overflow: hidden;float: none;width: 100%;border:none;border-bottom: 1px dashed rgba(21,179,204,.19);}
	.data1 label.none{display: block;}
	.data1 label span{line-height: 40px;}
	.data1{width: 100%;float: none;overflow: hidden;padding:10px ;box-sizing:border-box;-moz-box-sizing:border-box;background: #371e08;}
    .ca .text h3{font-size: 16px;line-height:30px;padding-top: 15px;}
	.cc .text h3{font-size: 16px;line-height:30px;padding-top: 15px;}
    .cb .text h3{font-size: 16px;line-height:30px;padding-top: 15px;}
	.cd .text{padding:20px 0;}
	.cb .text{padding:20px 0;}
	.ca .text{padding:20px 0;}
	.cb{background: #532704;}
	.cc{background: #532704;}
	.cd{background: #532704;}
	.cd .data1{padding:20px 10px;}
	.cc .data1{padding:20px 10px;}
	.cd .divblock1{display: block;top:0;margin-bottom: 10px;}
	.cd .data1 b>span{top:0;}
	.cd .data1 .divblock label.none2 span{top:-74px;}
	.hehe{width: 100%;padding:0 10px;box-sizing:border-box;-moz-box-sizing:border-box;margin-top: 10px;}
	.syxy .link{width: 75%;margin: 0 auto;margin-bottom: 10px;}
	.hel{float: none;overflow: hidden;}
	.sya{padding:0;}
	.syb a{font-size: 14px;line-height: 40px;height: 40px;}
	.syb a.cur{font-size: 16px;}
	.hehe h3{font-size: 14px; font-weight:normal; line-height:40px; margin-bottom:10px; text-align:center;}
	.cb .data1 label.none{display: inline-block;}
	.cb .data1 label.none1{display:block;}
	.syxy .link .input1{width: 100%;}
	.pcblock{display: none;}
	.answer{min-width: 0;width: 100%;}
	.answ{width: 100%;padding:0 10px;box-sizing:border-box;-moz-box-sizing:border-box;}
	.moble{display: block;}
	.ans1{height: auto;padding:0;}
	.ans2{padding:0;}
	.ans1>a{display: none;}
	.soso{width: 65%;box-sizing:border-box;-moz-box-sizing:border-box;}
	.area{width: 28%;margin-left:2.5%;box-sizing:border-box;-moz-box-sizing:border-box;}
	.input2{width: 28.6868%;}
	.area a{display: block;height: 36px;overflow: hidden;line-height: 36px;margin-top: 9.5px;padding-left: 6.5%;}
	.area a.area1{padding-left: 0;}
	.ans2{padding-bottom: 0;margin-bottom: 10px;}
	.ans3 table tr{width: 100%;height: auto;}
	.answer table:last-child tr{height: auto;}
	.ans3 table tr td:nth-child(1){height: auto;}
	.ans3 table tr td:nth-child(2){height: auto;}
	.answer table:last-child tr td{line-height: 32px;}
	.ans3 table td{line-height: 22px;padding-top: 8px;padding-bottom: 8px;}
    .ans3 table td.title1{line-height: 34px;height: 34px !important;padding-top:0 !important;padding-bottom: 0 !important;}
    .ans4 span{width: 100%;float: none;overflow: hidden;margin:0 auto;}
    .ans4>div{width: 100%;float: none;overflow: hidden;margin:0 auto;}
    .ans4 a{width:25%; }
    .ans3{padding-bottom: 10px;}
    .ans4{padding-bottom: 10px;}
    .ans5{padding-bottom: 0px;}
    .foot{min-width: 0;}
    .foot .footer{width: 100%;padding:20px 0;}
    .footer>div>a{float: none;overflow: hidden;width: 100px;margin:0 auto;display: block;}
    .footer>div>a.pcblock{display: none;}
    .footer>div p{text-align: center;}
    .ans4 input{width: 60%;}
    #entry-share b{margin-left: 0 !important;}
    .four{padding: 10px 10px;padding-top: 15px;width: 100%;box-sizing:border-box;-moz-box-sizing:border-box;height: auto;}
    .four h3{font-size: 12px;line-height: 16px;margin-bottom: 15px;}
    .four p{font-size: 12px;line-height: 16px;margin-bottom: 15px;}
    .four p span{font-size: 12px;line-height: 16px;}
    .p_result{margin:0 auto 10px;}
}

/* footer */
.footer{color: #5c5c5b; padding: 20px 0;}
.footer div{width: 100%; margin: 0 auto; text-align: center;}
.footer div p{margin-bottom: 10px; line-height:24px;}
.footer div a{color: #5c5c5b; margin: 0 10px;}
#result td b {
    color: #F00;
    border-radius: 3px;
}